*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Segoe UI;
}

body{
background:#f5f7ff;
padding:20px;
}

.container{
max-width:500px;
margin:auto;
}

.login-container{
max-width:400px;
margin:100px auto;
background:white;
padding:30px;
border-radius:20px;
text-align:center;
box-shadow:0 5px 20px rgba(0,0,0,.1);
}

.robot{
font-size:90px;
}

.robot-large{
font-size:80px;
text-align:center;
}

.card{
background:white;
padding:20px;
margin-bottom:20px;
border-radius:20px;
box-shadow:0 4px 15px rgba(0,0,0,.1);
}

input{
width:100%;
padding:12px;
margin-top:15px;
border-radius:10px;
border:1px solid #ddd;
}

button{
width:100%;
padding:12px;
margin-top:10px;
border:none;
border-radius:10px;
background:#6366F1;
color:white;
font-weight:bold;
cursor:pointer;
}

button:hover{
background:#4F46E5;
}

.progress{
height:20px;
background:#ddd;
border-radius:20px;
overflow:hidden;
}

#progressBar{
height:100%;
width:0%;
background:#22C55E;
transition:.5s;
}

.materi-img{
width:100%;
border-radius:15px;
margin:15px 0;
}

.badge-grid{
display:grid;
grid-template-columns:repeat(2,1fr);
gap:15px;
}

.badge{
background:white;
padding:20px;
border-radius:15px;
text-align:center;
font-size:40px;
box-shadow:0 4px 10px rgba(0,0,0,.1);
}

#emojiHasil{
font-size:90px;
text-align:center;
}